doctype html
html(lang="en")
  head
    title= pageTitle
    link(href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet") 
    link(rel="stylesheet" href="/style.css")
  body
    h1 ScoreCounter
   
    .counter
      span#score 0
    div game: 
      span#game 0
    div break: 
      span#break 0
    
    #output

    #footer
      button#btn-connect Connect
      button#btn-disconnect Disconnect
      button#btn-start start
      button#btn-break break
      button#btn-reset reset