/* CSS files add styling rules to your content */
@import 'variables';

body {
  font-family: $font;
  margin: 2em;
  background-color:$backgroundcolor;
  color:#aaa;
}
.counter{
  font-family: $fontScore;
  color: $redcolor;
  font-size: 20em;
    text-align: center;
}

h1 {
  font-family: $fontScore;
  font-style: italic;
  color: $redcolor;
  text-align: center;
}

#footer {
  position:fixed;
  left:0px;
  bottom:0px;
  height:30px;
  width:100%;
  background:#999;
}
